html {
    font-family: 'LinikSansRegular', sans-serif;
}
.main {
    width: 100%;
    margin: 0 auto;
    font-size: 2vw;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: stretch;
    
    
}
body {
    
    
}
#CloseButton {
    cursor: pointer;
    text-align: right;
    padding-right: 2%;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    
}
#contactMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: rgb(194, 208, 221);
    width: 70%;
}
#contactMenu.active {
    transform: translate(-50%, -50%) scale(1);
}
#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}
.vest {
    display: flex;
}
.businessCard {
    width: 100%;
}
.rightSide {
    max-width: 60%;
    max-height: 100%;
    align-items: stretch;
}
.resume {
    align-self: flex-start;
    height: 100%;
    
}
.couple {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.courses {
    height: 100%;
    font-size: 80%;
    
}
#coursestitle {
    text-align: center;
}
.contact  {
    text-align: center;
}

.properBox {
    border: solid  2px gray;
    border-radius: 5px;
    background-color:#f1eeee;
}

#contactButton{
    
    padding: .5rem 0.5rem;
}
.submitButton {
    padding: .5rem 0.5rem;
    width: 20%;
    height: 20%;
}
.resume{
    text-align: center;
    
}

#resumeFrame {
    width: 100%;
    height: 100%;
    
}
.pants{
    
}

.linksProjects {
    display: flex;
}

.projects {
    display: flex;
    margin: 0 auto;
    
}
.project {
    background-color: beige;
   border: 1px solid gray;
   margin: 2%;
}

#projectImage > a > img {
    width: 100%;
    height: 40%;
}
.projectSection{
    text-align: center;
    width: 100%;
}
.links {
    font-size: 1.5vw;
    width: 100%;
    align-self:flex-end;
}

.miscellany {
    width: 100%;
    
}